DATABASE_URL="postgresql://postgres:postgres@localhost:5432/kelana_ai"
AWS_REGION="ap-southeast-2"
MODEL_ID="amazon.nova-lite-v1:0"
BEDROCK_API_KEY="sk-bedrock-your_api_key_here"
AWS_BEARER_TOKEN_BEDROCK="sk-bedrock-your_api_key_here"
AWS_ACCESS_KEY_ID="your_aws_access_key_id"
AWS_SECRET_ACCESS_KEY="your_aws_secret_access_key"
KNOWLEDGE_BASE_ID="your_knowledge_base_id"
KNOWLEDGE_BASE_MODEL_ARN="arn:aws:bedrock:ap-southeast-2::foundation-model/amazon.nova-lite-v1:0"

