DATABASE_URL="postgresql://postgres:postgres@localhost:5432/kelana_ai"
AWS_REGION="ap-southeast-2"
MODEL_ID="amazon.nova-lite-v1:0"
BEDROCK_API_KEY="sk-bedrock-your_api_key_here"
AWS_BEARER_TOKEN_BEDROCK="sk-bedrock-your_api_key_here"
